/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  opacity: 30%;
}

.container {
  margin-top: 4em;
}

#background {
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  margin-top: -123px;
  z-index: -1;
  bottom: 0;
  overflow: hidden;
}

.bg-container {
  width: 100vw;
  height: 100vh;
}
